PORT=3000
NODE_ENV=development
DATABASE_URL=postgresql://gym_user:gym_password@localhost:5432/gym_db?schema=public
JWT_SECRET=supersecretjwtkey_replace_in_production
JWT_REFRESH_SECRET=supersecretrefreshjwtkey_replace_in_production
